<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
      <add key="disableSourceControlIntegration" value="true" />
  </solution> 
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="VSTS HLi" value="https://nodessoft.pkgs.visualstudio.com/_packaging/hlinteractive/nuget/v3/index.json" />
    <add key="Syncfusion Xamarin" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin/" />-->
  </packageSources>
</configuration>


